{% extends '::base.html.twig' %}
{% block title %}Bienvenue - {{ parent() }}{% endblock %}
{% block body %}
<h1>Bienvenue sur l'application Portfolio</h1>
<p>Cette application, développée par quelques enseignants du CPLN, est destinée à permettre aux élèves de garder une trace de leur travail effectué en atelier sur quatre ans.</p>
{% endblock %}
